/*Pseudo Element (::)*/

/*.paragraph{
	color: blue;
	font-size: 20px;
	user-select: none;

}*/

/*.paragraph::first-line{
	color: blue;
	font-size: 20px;

}*/

/*.paragraph::first-letter{
	color: blue;
	font-size: 60px;

}*/

/*.paragraph::selection{
	background-color: orange;
	color: blue;
}*/

/*.paragraph::before{
	content: 'ABC';
	color: blue;
	font-size: 50px;

}*/

.paragraph::after{
	content: 'EFG';
	color: blue;
	font-size: 50px;

}